@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");

:root {
  box-sizing: border-box;
  font-family: "Sora";
}

body {
  margin: 0;
}
::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}


.container {
  min-width: calc(100vw - 8px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4em;
}

